.SignUp {
    height: 800px;
    & .FirstPage {
        position: relative;
        text-align: center;
        & *:first-child {
            margin-top: 50px;
        }
        & * {
            display: block;
            margin: auto;
            margin-top: 20px;
        }
        & input {
            border: 2px solid #5072A7;
            border-radius: 30px;
            padding-inline: 15px;
            padding-block: 10px;
            width: 300px;
            font-size: 15px;
            margin-top: 5px;
            position: relative;
            &:focus + label.checking {
                visibility: visible;
            }
            &.error {
                animation: shake 0.2s ease-in-out 0s 2;
                box-shadow: 0 0 0.5em red;
            }
        }
        & .button {
            cursor: pointer;
            font-size: 15px;
            background-color: #5072A7;
            color: #ffffff;
            width: 200px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 10px;
            padding-inline: 15px;
            margin-top: 20px;
        }
        & .button:active {
            cursor: pointer;
            font-size: 15px;
            background-color: #3f5981;
            color: #ffffff;
            width: 195px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 9px;
            padding-inline: 10px;
        }
        & label.alert {
            font-size: 12px;
            color: red;
            visibility: hidden;
        }
        & label.checking {
            position: absolute;
            font-size: 12px;
            visibility: hidden;
            &#userId {
                top: 14px;
                left: 1120px;
            }
            &#password {
                top: 102px;
                left: 1120px;
            }
            &#confirmPassword {
                top: 190px;
                left: 1120px;
                visibility: visible;
            }
            &#username {
                top: 277px;
                left: 1120px;
            }
        }
    }
    & .SecondPage {
        pointer-events: none;
        visibility: hidden;
        position: relative;
        top: -382px;
        text-align: center;
        & .Field {
            display: block;
            margin-bottom: 20px;
            position: relative;
            text-align: left;
            margin-left: 600px;
            & .minorField {
                display: block;
                & * {
                    display: inline;
                    margin-left: 20px;
                }
            }
            & * {
                display: block;
                margin: auto;
                margin-top: 20px;
            }
            & input {
                border: 2px solid #5072A7;
                border-radius: 30px;
                padding-inline: 15px;
                padding-block: 10px;
                width: 150px;
                font-size: 15px;
                position: relative;
                &.error {
                    animation: shake 0.2s ease-in-out 0s 2;
                }
            }
        }
        & .Suggestion {
            position: absolute;
            top: 50px;
            left: 1000px;
            border: 2px solid #5072A7;
            border-radius: 20px;
            background-color: #ffffff;
            height: 195px;
            text-align: center;
            display: block;
            height: 290px;
            width: 600px;
            & *{
                background-color: #ffffff;
            }
            & div.outer {
                margin: 0px;
                display: block;
                & div.inner {
                    margin-block: 0px;
                    margin-inline: 20px;
                    display: inline-block;
                    & * {
                        display: block;
                        margin: auto;
                        margin-block: 20px;
                    }
                    & label {
                        width: 150px;
                    }
                    & .button {
                        width: 100px;
                        padding-block: 5px;
                        background-color: #5072A7; 
                    } 
                    & .button:active {
                        width: 90px;
                        padding-block: 5px;
                        background-color: #3f5981; 
                    }
                }
            }
            & label.labelSuggestion {
                text-align: center;
                display: block;
                margin-top: 20px;
            }
        }
        & .button {
            display: block;
            cursor: pointer;
            font-size: 15px;
            background-color: #5072A7;
            color: #ffffff;
            width: 200px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 10px;
            padding-inline: 15px;
            margin: auto;
        }
        & .button:active {
            cursor: pointer;
            font-size: 15px;
            background-color: #3f5981;
            color: #ffffff;
            width: 195px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 9px;
            padding-inline: 10px;
        }
    }
    & .ThirdPage {
        pointer-events: none;
        visibility: hidden;
        text-align: center;
        position: relative;
        top: -790px;
        height: 700px;
        & .button {
            display: block;
            cursor: pointer;
            font-size: 15px;
            background-color: #5072A7;
            color: #ffffff;
            width: 200px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 10px;
            padding-inline: 15px;
            margin: auto;
            margin-top: 30px;
        }
        & .button:active {
            cursor: pointer;
            font-size: 15px;
            background-color: #3f5981;
            color: #ffffff;
            width: 195px;
            white-space: nowrap;
            border-radius: 100px;
            padding-block: 9px;
            padding-inline: 10px;
        }
    }
}

@keyframes shake {
    0% { left: 0rem; }
    25% { left: 0.5rem; }
    75% { left: -0.5rem; }
    100% { left: 0rem; }
}